DISCORD_TOKEN=your_discord_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=your_guild_id_here

RSI_EMAIL=your_rsi_email_here
RSI_PASSWORD=your_rsi_password_here
ORG_NAME=your_org_name_here
